html, body {
  background : #FFFFFF !important;
}

.invoice-prlong {
  min-width : 768px !important;
  font-size : 15px !important;
}

.invoice-prlong .invoice-date-wrapper {
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
}

.invoice-prlong .invoice-date-wrapper .invoice-date-title {
  width : 8rem;
}

.invoice-prlong i, .invoice-prlong svg {
  fill : #6E6B7B !important;
}

.invoice-prlong .invoice-total-wrapper {
  width : 100%;
  max-width : 12rem;
}

.invoice-prlong .invoice-total-wrapper .invoice-total-item {
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
  -webkit-box-pack : justify;
  -webkit-justify-content : space-between;
  -ms-flex-pack : justify;
          justify-content : space-between;
}

.invoice-prlong .invoice-total-wrapper .invoice-total-item .invoice-total-title {
  margin-bottom : 0.35rem;
}

.invoice-prlong .invoice-total-wrapper .invoice-total-item .invoice-total-amount {
  margin-bottom : 0.35rem;
  font-weight : 600;
}

.invoice-prlong * {
  border-color : rgba(34, 41, 47, 0.5) !important;
  color : #6E6B7B !important;
}