
@{
    ViewBag.title = Tax_Tech.Resources.Resource.YouareNotallowed;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="misc-wrapper">
    <div class="misc-inner p-2 p-sm-3">
        <div class="w-100 text-center">
            <h2 class="mb-1">@Tax_Tech.Resources.Resource.YouareNotallowed 🔐</h2>
            <p class="mb-2">  </p>
            <img class="img-fluid" src="~/Content/app-assets/images/pages/not-authorized.svg" alt="Not authorized page" />
        </div>
    </div>
</div>