<script>
    ShowLoading(1);
</script>
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <div class="alert-body">
        <strong>This Account was Logged in from Another Device, You Need to Re login</strong>
    </div>
</div>
