
<div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Authentication</h4>
                <button type="button" class="close" onclick="DismissPopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Create New Form Controls -->
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
 
                    <div class="alert-body">
                        <strong>This Account was Logged in from Another Device, You Need to Re login</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
