
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Tax Tech - @ViewBag.Title</title>
    <link rel="apple-touch-icon" href="~/Content/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.ico">

    @if (Request.Cookies["lang"] != null && Request.Cookies["lang"].Value.Contains("ar"))
    {
        <style>
            * {
                font-family: 'Cairo', sans-serif;
            }
        </style>

        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/vendors-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/forms/select/select2.min.css">
        <!-- END: Vendor CSS-->
        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/colors.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/components.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/themes/dark-layout.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/themes/bordered-layout.css">

        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/plugins/forms/form-validation.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/pages/page-auth.css">
        <!-- END: Page CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css-rtl/custom-rtl.css">
        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style-rtl.css">
        <!-- END: Custom CSS-->
        <!-- END: Page CSS-->
        <!-- BEGIN: Custom CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
        <!-- END: Custom CSS-->
    }
    else
    {
        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/vendors.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/vendors/css/forms/select/select2.min.css">
        <!-- END: Vendor CSS-->
        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/bootstrap-extended.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/colors.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/components.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/dark-layout.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/themes/bordered-layout.css">

        <!-- BEGIN: Page CSS-->
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/core/menu/menu-types/vertical-menu.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/plugins/forms/form-validation.css">
        <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/pages/page-auth.css">

        <link href="~/Scripts/file-upload/CSS/jquery.fileupload.css" rel="stylesheet" />
        <link href="~/Scripts/file-upload/CSS/jquery.fileupload-ui.css" rel="stylesheet" />
        <link href="~/Scripts/file-upload/CSS/jquery.fileupload-noscript.css" rel="stylesheet" />
        <link href="~/Scripts/file-upload/CSS/jquery.fileupload-ui-noscript.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    }

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo-->

                        <div class="brand-logo mb-2">
                            <ul class="navbar-nav align-items-center ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link menu-toggle" href="javascript:void(0);">
                                        <img src="~/Content/imgs/Logo.png" width="180" height="65" />
                                    </a>
                                </li>
                                <li class="nav-item dropdown dropdown-language">
                                    <a class="nav-link dropdown-toggle" id="dropdown-flag" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        @if (Request.Cookies["lang"] != null && Request.Cookies["lang"].Value.Contains("ar"))
                                        {
                                            <span class="selected-language">
                                                Arabic
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="selected-language">
                                                English
                                            </span>
                                        }
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-flag">
                                        <a class="dropdown-item" href="@Url.Action("ChangeLangNoLogin", "Lang", new { lang = "en-US" })" data-language="en">
                                            English
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("ChangeLangNoLogin", "Lang", new { lang = "ar" })" data-language="ar">
                                            Arabic
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="~/Content/app-assets/images/pages/login-v2.svg" alt="Login V2" /></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- Login-->

                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <script src="~/Content/app-assets/vendors/js/vendors.min.js"></script>
                            @*<script src="~/Scripts/underscore-min.js"></script>*@
                            <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
                            <script src="~/Scripts/Custom/Public.js"></script>
                            @RenderBody()
                        </div>
                        <!-- /Login-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Content/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Content/app-assets/js/core/app-menu.js"></script>
    <script src="~/Content/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Content/app-assets/js/scripts/forms/form-select2.js"></script>
    <script src="~/Content/app-assets/js/scripts/pages/page-auth-login.js"></script>

    <!-- END: Page JS-->
    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })</script>
</body>
<!-- END: Body-->
</html>