<script>
    ShowLoading(1);
</script>
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <div class="alert-body">
        <strong>@Tax_Tech.Resources.Resource.NotAuthorized</strong>
    </div>
</div>
