<div class="modal fade text-left" id="default" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Job Stop</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="DismissPopup()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Create New Form Controls -->
            <div class="modal-body">
                <section id="basic-alerts">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card">
                               
                                <div class="card-body">
                                 
                                    <div class="demo-spacing-0">
                                        <div class="alert alert-danger" role="alert">
                                            <div class="alert-body">Job Stopped</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>



@*<section id="basic-alerts">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Job Resume</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Alerts are available for any length of text, as well as an optional dismiss button. Add
                        <code>.alert.alert-{color}</code> classes for alert with all theme colors.
                    </p>
                    <div class="demo-spacing-0">
                        <div class="alert alert-warning" role="alert">
                            <div class="alert-body"><strong>Good Morning!</strong> Start your day with some alerts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="basic-alerts">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Job Priority</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Alerts are available for any length of text, as well as an optional dismiss button. Add
                        <code>.alert.alert-{color}</code> classes for alert with all theme colors.
                    </p>
                    <div class="demo-spacing-0">
                        <div class="alert alert-primary" role="alert">
                            <div class="alert-body"><strong>Good Morning!</strong> Start your day with some alerts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="basic-alerts">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Job Resubmit</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Alerts are available for any length of text, as well as an optional dismiss button. Add
                        <code>.alert.alert-{color}</code> classes for alert with all theme colors.
                    </p>
                    <div class="demo-spacing-0">
                        <div class="alert alert-primary" role="alert">
                            <div class="alert-body"><strong>Good Morning!</strong> Start your day with some alerts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@