
@{
    ViewBag.Title = Tax_Tech.Resources.Resource.ImportFailed;
}

<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body mt-2">
                    <div class="d-flex">
                        <div class="form-group mx-2">
                            <button type="button" class="btn btn-outline-primary" onclick="exportFailedImportedDocsToExecl()">@Tax_Tech.Resources.Resource.ExportToExcel</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="list">
                            <h4 class="text-center">@Tax_Tech.Resources.Resource.Loading...</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Scripts/Custom/FailedImported.js"></script>