@model Tax_Tech.ViewModels.ItemViewModel

<tr>
    <td>@Model.ItemName</td>
    <td>@Model.ItemType</td>
    <td>@Model.ItemUnitID</td>
    <td>
        <input type="number" class="form-control" placeholder="Quantity" id="Quantity" name="Quantity" />
    </td>
    <td>
        <input type="number" class="form-control" placeholder="Unit Price" id="UnitPrice" name="UnitPrice" />
    </td>
    <td>0</td>
    <td>
        <input type="number" class="form-control" placeholder="Discount" id="Discount" name="Discount" />
    </td>
    <td>0</td>
    <td>0</td>
</tr>