
@{
    ViewBag.Title = Tax_Tech.Resources.Resource.GlobalConfig;
}


<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="dt-action-buttons text-left d-flex">
                        <div id="main-err"></div>
                    </div>
                </div>
                
                <div class="card-body" id="list" style="overflow-x: auto;">
                    <h4 class="text-center">@Tax_Tech.Resources.Resource.Loading...</h4>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/Custom/PublicConfig.js"></script>
<script src="~/Areas/Configuration/Scripts/Custom/GlobalConfig.js"></script>