<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card-body text-center">
            <div class="avatar avatar-xl bg-success shadow">
                <div class="avatar-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check font-large-2"><polyline points="20 6 9 17 4 12"></polyline></svg>
                </div>
            </div>
            <div class="text-center">
                <br /><h3 class="mb-1">@Tax_Tech.Resources.Resource.FileUploadedSuccessfully</h3><br />
                <p class="card-text m-auto w-75">
                    @Tax_Tech.Resources.Resource.JobQueueCreated
                </p>
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@Tax_Tech.Resources.Resource.BacktoHome</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>