
@{
    ViewBag.Title = "_JobTotalLayout";
}

<div class="card">
    <div id="collapse-230054" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse show" style="">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <p class="font-weight-bolder"><span title="Job Type">Document Import</span> - Starting Date: Sun 13 Aug 2023 - 10:59 AM</p>
            </div>
            <div class="mt-2" id="runningJobReportContainer">
                <div class="">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <h4>Import - Validation</h4>
                        </div>
                        <div class="col-md-9 row">
                            <div class="card mx-1 stats-card" style="background: #fff3e8;">
                                <div class="card-body">
                                    <h3 class="text-center text-warning">2</h3>
                                    <h5 class="text-center text-warning">Total Docs</h5>
                                </div>
                            </div>

                            <div class="card mx-1 stats-card" style="background: #fff3e8;">
                                <div class="card-body">
                                    <h3 class="text-center text-warning">0</h3>
                                    <h5 class="text-center text-warning">In Progress</h5>
                                </div>
                            </div>

                            <div class="card mx-1 stats-card" style="background: #e5f8ed;">
                                <div class="card-body">
                                    <h3 class="text-center text-success">2</h3>
                                    <h5 class="text-center text-success">Imported Docs</h5>
                                </div>
                            </div>

                            <a href="javascript:void(0);" onclick="getTaxesPopup(230054, '1')" class="card mx-1 stats-card" style="background: #fde8e8; ">
                                <div class="card-body">
                                    <h3 class="text-center text-danger">0</h3>
                                    <h5 class="text-center text-danger">Import Failure</h5>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <h4>Sign Up - Sign - Submit </h4>
                        </div>
                        <div class="col-md-7 row">
                            <div class="card mx-1 stats-card" style="background: #fff3e8;">
                                <div class="card-body">
                                    <h3 class="text-center text-warning">0</h3>
                                    <h5 class="text-center text-warning">Sign Up</h5>
                                </div>
                            </div>

                            <div class="card mx-1 stats-card" style="background: #fff3e8; ">
                                <div class="card-body">
                                    <h3 class="text-center text-warning">0</h3>
                                    <h5 class="text-center text-warning">E-Signed</h5>
                                </div>
                            </div>

                            <div class="card mx-1 stats-card" style="background: #e5f8ed; ">
                                <div class="card-body">
                                    <h3 class="text-center text-success">0</h3>
                                    <h5 class="text-center text-success">Submit</h5>
                                </div>
                            </div>

                            <a href="javascript:void(0);" onclick="getTaxesPopup(230054, '2')" class="card mx-1 stats-card" style="background: #fde8e8; ">
                                <div class="card-body">
                                    <h3 class="text-center text-danger">0</h3>
                                    <h5 class="text-center text-danger">Signup Failed</h5>
                                </div>
                            </a>

                            <a href="javascript:void(0);" onclick="getTaxesPopup(230054, '3')" class="card mx-1 stats-card" style="background: #fde8e8; ">
                                <div class="card-body">
                                    <h3 class="text-center text-danger">0</h3>
                                    <h5 class="text-center text-danger">E-Signed Failed</h5>
                                </div>
                            </a>

                            <a href="javascript:void(0);" onclick="getTaxesPopup(230054, '4')" class="card mx-1 stats-card" style="background: #fde8e8; ">
                                <div class="card-body">
                                    <h3 class="text-center text-danger">0</h3>
                                    <h5 class="text-center text-danger">Submit Failed</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <h4>Status - Update </h4>
                        </div>

                        <div class="col-md-9 row">
                            <a href="javascript:void(0);" onclick="getMOFStatus('230054','Running')" class="card mx-1" style="background: #fff3e8;">
                                <div class="card-body">
                                    <h4 class="text-center text-warning">2</h4>
                                    <h5 class="text-center text-warning">Running</h5>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>